@{
    ViewBag.Title = "About Alex Kempen";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I am a 5th YEar MIS and Analytics major with a Finance minor. This is my third year here at OU because I transferred 
    from the Newark branch of Ohio State. While I was there I was a mechanical engineering major and I decided that was not the path
     for me when I decided to transfer. I've always enjoyed watching most sports and playing tennis, volleyball, and basketball. 
    I also enjoy watching a ton of movies, I go to the theater around 30 times a year and more if it's an especially good year.</p>
