@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    33 N McKinley Ave<br />
    Athenss, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    740.398.0107
</address>

<address>
    <strong>Support:</strong>   ak353914@ohio.edu<br />
    </address>