@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Alex Kempen</h1>
    <p class="lead"></p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Categories</h2>
         <p>
            @Html.ActionLink("Sport", "Index", "Sports") <br />
            @Html.ActionLink("Team", "Index", "Teams") <br />
            @Html.ActionLink("Player", "Index", "Players") <br />
            @Html.ActionLink("PlayerSport", "Index", "PlayerSports") <br />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Future</h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Use Later</h2>
        <p></p>
        <p></p>
    </div>
</div>